.sort-header{
    display: flex;
    justify-content: space-between;

    i{
        cursor: pointer;
        padding:0 2px;
        
    }
}
input.form-control.form-search{
    border-radius: 50px;
}


.add-new{
    // display: flex;
    justify-content: space-between;
    align-items: center;
    .group-btns{
        display: flex;
        gap: 10px;
    }
  }
  .customize-table{
    width: inherit;
    overflow-x: auto;
  }
  .pagination{
    justify-content: center;
  }